<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <section id="about-me-section">
            <p>19 years old, software enginner. Currently focused on NodeJs and .NET development.</p>
        </section>
    </div>

    {{>footer}}
</body>
</html>