<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <section id="help-section">
            <p>
                Send me an e-mail: <a href="mailto:egrnobre@gmail.com">egrnobre@gmail.com</a>
            </p>
        </section>
    </div>
    {{>footer}}
</body>
</html>